/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  /* primary */
  --primary-100: #e0deff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* extra colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* rest of the variables */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -1px rgb(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgb(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em; /*35em to 45em*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 50vw;
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img:not(.logo) {
  width: 100%;
  /* display: block; is important */
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* temporary below */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-700);
  background: var(--primary-300);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 0.25rem solid var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.loading {
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid var(--grey-400);
  border-top-color: var(--primary-500-500);
  border-radius: 50%;
  animation: load 0.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotateZ(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

/* title */

.title {
  text-align: center;
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  height: 0.25rem;
  width: 7rem;
  background: var(--primary-500);
  margin: 0 auto;
  margin-top: -1rem;
}
/*  global classes */

/* section */
.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.bcg-black {
  background: var(--grey-200);
  border-radius: 3rem;
}

/*
=============== 
Navbar
===============
*/

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 4rem;
  background: var(--primary-500);
  border-bottom-left-radius: 1.75rem;
  padding: 0.25rem;
  box-shadow: var(--shadow-4);
  position: sticky;
  top: 0;
  left: 0;
}

.nav-center {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  width: 90vw;
  max-width: 1170px;
  margin: 0.75rem auto;
  gap: 0 2rem;
}

.nav-center h2 {
  /* border: 2px solid #222; */
  font-size: 1.25rem;
  color: var(--white);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin-bottom: -0.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  margin-bottom: -0.75rem;
  width: 80%;
}

.nav-links a {
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
}

.nav-links a:hover:not(.link-active) {
  color: var(--primary-800);
}

.link-active {
  font-weight: 680;
}

@media screen and (min-width: 576px) {
  .nav-center {
    margin: 0.5rem auto;
  }
  .nav-center h2 {
    font-size: 1.75rem;
  }
  .nav-links {
    font-size: 1.25rem;
    width: 75%;
  }
}
@media screen and (min-width: 786px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .nav-links {
    width: 35%;
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: calc(100vh - 6rem);
  margin-top: 2rem;
}

.hero-img {
  display: block;
  height: 32rem;
  width: 100%;
  /* border: 2px solid red; */
}

.hero h2 {
  color: var(--grey-400);
  text-transform: lowercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
}

.highlight {
  color: var(--primary-500);
}

@media screen and (min-width: 680px) {
  .hero-img {
    margin-bottom: 2rem;
  }
}

/*
=============== 
Technologies
===============
*/

.technologies .section-title {
  margin-bottom: 3rem;
}

.tech {
  /* border: 2px solid #222; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  width: 70vw;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 5rem;
}

.tech li i {
  font-size: 2rem;
  color: var(--primary-500);
}

.tech li {
  /* border: 2px solid red; */
  justify-self: flex-start;
  font-size: 1.25rem;
  letter-spacing: var(--letterSpacing);
}

/*
=============== 
Projects
===============
*/

.projects .section-title {
  margin-bottom: 2rem;
}

.projects .section-center {
  text-align: center;
}

.projects .section-center p {
  font-size: 1.25rem;
  margin: 1.5rem auto;
}
/*
=============== 
Blogs
===============
*/

.blogs .section-title {
  margin-bottom: 2rem;
}

.blogs .section-center {
  text-align: center;
}

.blogs .section-center p {
  font-size: 1.25rem;
  margin: 1.5rem auto;
}

/*
=============== 
Footer
===============
*/

.footer {
  background: var(--primary-500);
  border-top-left-radius: 3rem;
  margin-top: 1rem;
}

.footer h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: var(--letterSpacing);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.footer-links a {
  font-size: 1.75rem;
  color: var(--primary-800);
  transition: var(--transition);
}
.footer-links a:hover {
  color: var(--primary-100);
}

/* projects.html */

.main-text {
  height: 30vh;
  display: grid;
  place-items: center;
  color: var(--grey-500);
}
.main-text h2 {
  text-transform: lowercase;
  font-weight: 600;
}

.single-project {
  text-align: center;
  padding: 2rem;
}

.single-project .heading {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  letter-spacing: var(--letterSpacing);
}

.single-project .date {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 1rem;
  font-style: italic;
  color: var(--grey-500);
}

.single-project p {
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  letter-spacing: var(--letterSpacing);
}
.btn-center {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
}

.btn-center a {
  padding: 0.5rem 1.5rem;
}
