/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  /* primary */
  --primary-100: #fef3c7;
  --primary-200: #fde68a;
  --primary-300: #fcd34d;
  --primary-400: #fbbf24;
  --primary-500: #f59e0b;
  --primary-600: #d97706;
  --primary-700: #b45309;
  --primary-800: #92400e;
  --primary-900: #78350f;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* extra colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* rest of the variables */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -1px rgb(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgb(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em; /*35em to 45em*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 50vw;
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img:not(.logo) {
  width: 100%;
  /* display: block; is important */
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* temporary below */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-700);
  background: var(--primary-300);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 0.25rem solid var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.loading {
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid var(--grey-400);
  border-top-color: var(--primary-500-500);
  border-radius: 50%;
  animation: load 0.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotateZ(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

/* title */

.title {
  text-align: center;
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  height: 0.25rem;
  width: 7rem;
  background: var(--primary-500);
  margin: 0 auto;
  margin-top: -1rem;
}
/*  global classes */

/* section */
.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.bcg-amber {
  background: var(--primary-100);
  border-radius: 1.5rem;
}

@media screen and (min-width: 680px) {
  .bcg-amber {
    border-radius: 3rem;
  }
}

/*
=============== 
Navbar
===============
*/

body {
  min-height: 100vh;
  display: grid;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 4rem;
  background: var(--primary-500);
  border-bottom-left-radius: 2rem;
  padding: 0.25rem;
  box-shadow: var(--shadow-4);
  position: sticky;
  top: 0;
  left: 0;
}

.nav-center {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  width: 90vw;
  max-width: 1170px;
  margin: 0.75rem auto;
  gap: 0 2rem;
}

.nav-center h2 {
  /* border: 2px solid #222; */
  font-size: 1.25rem;
  color: var(--white);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin-bottom: -0.5rem;
}

.nav-links {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  margin-bottom: -0.75rem;
  width: 100%;
  max-width: 250px;
}

.nav-links a {
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
  cursor: default;
}

.nav-links a:hover:not(.link-active) {
  cursor: pointer;
  color: var(--primary-800);
}

.link-active {
  font-weight: 680;
}

@media screen and (min-width: 576px) {
  .nav-center {
    margin: 0.5rem auto;
  }
  .nav-center h2 {
    font-size: 1.75rem;
  }
  .nav-links {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 680px) {
  .nav-links {
    max-width: 400px;
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: calc(100vh - 6rem);
  margin-top: 2rem;
}

.hero-img {
  display: block;
  height: 32rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
}

.hero h2 {
  color: var(--grey-400);
  text-transform: lowercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  font-style: italic;
  margin-top: -2rem;
}

.highlight {
  color: var(--primary-500);
}

@media screen and (min-width: 680px) {
  .hero-img {
    margin-bottom: 2rem;
  }

  .hero h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

/*
=============== 
Technologies
===============
*/

.technologies {
  width: 90vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.technologies .section-title {
  letter-spacing: var(--letterSpacing);
  margin-bottom: 3rem;
}

.section-title h2 {
  font-size: 1.75rem;
  letter-spacing: var(--letterSpacing);
}
.section-title .title-underline {
  width: 5.5rem;
}

.tech {
  /* border: 2px solid red; */
  width: 90%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 1.25rem;
  margin-top: 2rem;
  /* border: 2px solid red; */
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 2rem;
  }
  .section-title .title-underline {
    width: 5.5rem;
  }
  .tech {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tech li i {
  font-size: 2rem;
  color: var(--primary-500);
}

.tech li {
  /* border: 2px solid #222; */
  font-size: 1.25rem;
  letter-spacing: var(--letterSpacing);
}

/*
=============== 
Projects
===============
*/

.projects,
.blogs {
  width: 90vw;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.section-center p {
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 768px) {
  .section-center p {
    font-size: 1.25rem;
  }
}

.projects .section-title {
  margin-bottom: 2rem;
}

.projects .section-center {
  text-align: center;
}

.projects .section-center p,
.blogs .section-center p {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin: 1.5rem auto;
}
/*
=============== 
Blogs
===============
*/

.blogs .section-title {
  margin-bottom: 2rem;
}

.blogs .section-center {
  text-align: center;
}

/*
=============== 
Footer
===============
*/

.footer {
  background: var(--primary-500);
  border-top-left-radius: 3rem;
  margin-top: 1rem;
}

.footer h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0.5rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.footer-links a {
  font-size: 1.75rem;
  color: var(--primary-800);
  transition: var(--transition);
}
.footer-links a:hover {
  color: var(--primary-100);
}

/* projects.html */

.projects-body {
  display: grid;
}

.projects-section {
  width: 90vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 25rem);
}

.main-text {
  height: 20rem;
  display: grid;
  place-items: center;
  color: var(--grey-500);
}
.main-text h2 {
  letter-spacing: var(--letterSpacing);
  text-transform: lowercase;
  font-weight: 600;
}

.single-project,
.single-blog {
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
}

.single-project .heading,
.single-blog .heading {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: var(--letterSpacing);
  font-weight: 700;
  color: var(--primary-800);
}

.single-project .date,
.single-blog .date {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
  font-style: italic;
  color: var(--grey-500);
}

.single-project p,
.single-blog p {
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  letter-spacing: var(--letterSpacing);
}
.btn-center {
  display: grid;
  justify-items: center;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.btn-center a {
  width: 150px;
}

@media screen and (min-width: 576px) {
  .btn-center {
    max-width: 400px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .single-project .heading,
  .single-blog .heading {
    font-size: 2rem;
  }

  .single-project .date,
  .single-blog .date {
    font-size: 1rem;
  }

  .single-project p,
  .single-blog p {
    font-size: 1.25rem;
  }
}

/* blogs.html */
.single-blog {
  margin-bottom: 2rem;
}
